<%- include('./includes/head.ejs') %>
</head>
<body>
  <div class="row_system">
    <%- include('./includes/sidebar.ejs') %>
    <main>
      <%- include('./components/slider.component.ejs') %>
    </main>
  </div>
</body>
</html>
